<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-light mb-4" style="background-color: #fdd54f;">

        <%= link_to(posts_path) do %>
          <h1 class="navbar-brand mb-0">Blog</h1>
        <% end %>

        <form class="form-inline">
          <%= link_to(new_post_path) do %>
            <button class="btn btn-outline-success" type="button">Новая статья</button>
          <% end %>
        </form>

      </nav>

      <%= yield %>
    </div>

  </body>
</html>
